#google cloud speech trial
GoogleSpeechTest/

# Recommenders
.recommenders/

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store
 
# Maven
log/
target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore my authentication JSON
*.json

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Now we want audio files for wav files
#Video files
#*.wav
#*.raw

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
